<div class="plant">
  <%= image_tag "plantes/#{plant.category.chop.downcase}_#{plant.name.downcase}.png", class: 'img-fluid' %>
  <li><%= @plant.name %></li>
  <li><%= plant.description %></li>
  <li><%= plant.category %></li>
  <li><%= plant.climate %></li>
  <li><%= plant.exposure %></li>
  <li><%= plant.watering %></li>
  <li><%= plant.plant_care %></li>
</div>
