<div class="plant">
  <button data-action="click->overlay#closeOverlay" class="x-mark">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>
  </button>
  <%= image_tag "plantes/#{plant.category.chop.downcase}_#{plant.name.downcase}.png", class: 'img-fluid' %>

  <div class="doc-inside">
    <li>Name: <%= @plant.name %></li>
    <li>Climate:  <%= plant.climate %></li>
    <li>Exposure: <%= plant.exposure %></li>
    <li>Watering:  <%= plant.watering %></li>
    <li>Description:   <%= plant.description %></li>
    <li>Plant care:    <%= plant.plant_care %></li>

  </div>
</div>
