<div class="background-end vh-100">
  <div class="containerpb-5">
    <div class="row text-center" style="padding-top: 30vh">
      <h2 class="pb-2">Receive the recap by email:</h2>
        <%= form_with url: send_email_garden_path do |f| %>
          <div class="pb-3">
            <%= f.email_field :email, class:"w-100" %>
           </div>
           <div>
            <%= f.submit "Send", class:"button w-100", id: "" %>
            <p class="pt-2"><%= notice %></p>
          </div>
        <% end %>
      <div class="pt-5 pb-5" data-controller="share" data-share-url-value="<%= @url %>">
        <div class="separator">
          <span class="line"></span>
          <h2>Share your garden</h2>
          <span class="line"></span>
        </div>
          <button data-action="click->share#send" class="button mt-3 w-100">⚘ Share ⚘</button>
        </div>
      <div class="pt-5 mt-5">
        <%= link_to "Go back", garden_path(@garden), class: "button", id:"button-last"%>
      </div>
    </div>
  </div>
</div>
