
<div class="container pt-5 pb-5">
  <h2>Have a look on your garden!</h2>
  <span>garden_id: <%= @garden.id %></span>

  <div class="col-12">
    <p><strong> Number of plants ( based on the size of the garden )</strong></p>
      <%#= @nb_plants %>
      <%= @garden.plants.count %>


    <p><strong>!!The final plants!!</strong></p>
    <% @garden.plants.each do |plant| %>
      <div class="card-plants">
          <%= plant.name %>
          <%= image_tag "plantes/#{plant.category.chop.downcase}_#{plant.name.downcase}.png", class: 'img-fluid' %>
      </div>
    <% end %>


<div class ="papa">
<%= link_to "Receive your garden by email", email_garden_path(@garden), id:"lol", class: "mt-5" %>
<%= link_to "The details of your plants", list_garden_path(@garden), id:"lol", class: "mt-5" %>

</div>
