<div class="container pt-3 pb-5" data-controller="plant">
  <%= render "shared/loader", step: 4, class: "m-5" %>
  <h2 class="pb-3">Have a look on your garden!</h2>
  <span>garden_id: <%= @garden.id %></span>
  <div class="col-12">
    <p><strong> Number of plants ( based on the size of the garden )</strong></p>
      <%#= @nb_plants %>
      <%= @garden.plants.count %>

      <p><strong>!!The final plants!!</strong></p>
      <div class="row" >
        <% @garden.plants.shuffle.each do |plant| %>
          <div class="col-3 text-center">
            <div data-action="click->plant#togglePlant" data-plant-id="<%= plant.id %>">
              <div class="card-plants pb-4">
                <%= image_tag "plantes/#{plant.category.chop.downcase}_#{plant.name.downcase}.png", class: 'img-fluid' %>
                <%= plant.name %>
              </div>
            </div>
          </div>
        <% end %>
      </div>


   <div class="results" data-plant-target="results"></div>

  <div class ="text-center">
    <%= link_to "Receive your garden by email", email_garden_path(@garden), class: "btn btn-primary mt-5" %>
    <%= link_to "The details of your plants", list_garden_path(@garden), class: "btn btn-primary mt-5" %>
  </div>
 </div>
